<style>
  .form-container {
    display: flex;
    flex-direction: column;
  }
  form {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  input {
    background-color: var(--code-bg);
    color: var(--primary);
    height: 50px;
    width: 100%;
    max-width: 300px;
    border-radius: var(--radius);
    padding: 10px;
  }

  @media only screen and (min-width: 768px)  {
    input {
      width: 300px;
      margin-right: 20px;
    }
  }

  button {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 7px 10px;
    border-radius: var(--radius);
    border: solid 2px #1CD61D;
    color: #fff;
    background: #1CD61D;
    height: 50px;
    width: 175px;
    line-height: 20px;
    box-shadow: none !important;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }

  button:hover {
    border: solid 2px #1CD61D;
    background-color: #fff;
    color: #1CD61D;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }

</style>
<body>
  <div class="form-container">
    <form action="https://submit-form.com/iTEmzOop">
      <input type="email" id="email" name="email" placeholder="Send me new articles" required="" />
      <button type="submit">Subscribe</button>
    </form>
  </div>
</body>