{{ define "main" }}
  <div class="not-found">
    <h2>Oh no! That page does not exist</h2>
    <h3>Check out these other popular pages:</h3>
    <ul>
      <li>
        <a href="https://apps.apple.com/us/app/dont-text/id1540836811">Download the Dont Text App - Block Spam Text Messages on iPhone</a>
      </li>
      <li>
        <a href="/faq">Frequently Asked Questions</a>
      </li>
      <li>
        <a href="/blog/block-spam-texts/">How to Block Spam Texts with Dont Text</a>
      </li>
      <li>
        <a href="/blog/i-replied-to-a-spam-text/">I Replied to a Spam Text: Am I Safe?</a>
      </li>
      <li>
        <a href="/blog/clicked-link-spam-text/">I Clicked on a Link in a Spam Text: What Should I Do Next?</a>
      </li>
    </ul>
  </div>
{{ end  }}{{/* end main */}}